html,body,head,a,h1,h2,h3,h4,h5,h6,pre,sup,sub /* CSS Reset from StackOverflow */
{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

a:visited {
  color: blue;
}

.fafa-github, .fafa-link {
  color: #fff !important;
}

span {
  color: #dddddd;
}

html {
    position:relative;
    min-height:100%;
}

header {
  left:0;
  bottom:0;
  width:100%;
  background-color:#699966;
  padding:0px;
}

h1 {
  font-size: 200%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2.3%;
  padding-bottom: 2%;
  border-color: #ccc;
  border-bottom: 1px solid #ccc;
}

p {
  margin-left: 3%;
  margin-right: 3%;
}

form {
  margin-left: 3%;
  margin-right: 3%;
}

input {
  margin-bottom: 2%;
}

label {
  margin-top:8px;
}

.equipment, .book {
  margin-left: 3%;
  margin-bottom: 3%;
}

.error {
  color:red;
  margin:0;
  margin-top:5px;
  padding:0;
  list-style-type:none;
}

#indexp {
  font-size: 125%;
  margin-right: 3%;
}

#logo {
  height: 30%;
  width: 30%;
  margin-left: 3%;
  margin-top: 2%;
}

nav ul li {
  font-size: 115%;
  display:inline;
  margin-right:5px;
}

nav ul li a {
  padding:5px 10px;
  background-color:#4d79ff;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.4s ease;
  font-family:'Raleway', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#699966;
    text-align:center;
    padding:15px 0px 5px 0px;
}

/* Dropdown menu with CSS, credit to TVAC Studio */
#menu {
  background: #699966;
  color: #fff;
  padding: 0px 5px 0px 5px;
}

#menu {
  padding-left: 3%;
}

#menu ul {
  padding: 0px;
  margin: 0 auto;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#menu ul li {
  float: left;
}

#menu ul li a {
  color: #fff;
  background: #699966;
  padding: 10px;
  padding-bottom: 9px;
  display: block;
  text-decoration: none;
  font-size: 15px;
}

#menu ul li a:hover {
  background: #80BA7C;
  color: #fff;
  transition: all 0.3s ease 0s;
}

#menu ul li ul {
  position: absolute;
  height: 0px;
  overflow: hidden;
}

#menu ul li ul li {
  float: none;
}

#menu ul li:hover ul {
  overflow: visible;
}

#menu ul li:hover ul li a {
  padding: 10px;
}

#menu ul li ul li a {
  transition: 0.3s;
  padding: 0px 10px;
}

.clear {
  clear: both;
}

.btn-primary {
  margin-top: 3%;
	-moz-box-shadow: 0px 4px 0px 0px #3bad59;
	-webkit-box-shadow: 0px 4px 0px 0px #3bad59;
	box-shadow: 0px 4px 0px 0px #3bad59;
	background-color:#44c767;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #699966;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1d4217;
  margin-bottom: 10%;
}
.btn-primary:hover {
	background-color:#40bd62;
  border: 1px solid #699966;
}
.btn-primary:active {
  background-color: #40bd62;
	position:relative;
	top:1px;
}
*:focus {
  outline:0;
}
.book {
  width: 1000px;
}

.flash_message {
  width: 100%;
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e5d957;
  font-weight: bold;
}

.copy {
  color: #fff;
}

.item {
  width: 30%;
  float: left;
}

.itema {
  margin-top: .6%;
  width: 5%;
  float: left;
}

#itemad {
  color: #d60000;
}

.bookh {
  width: 40%;
  float: left;
}

.booka {
  margin-top: .6%;
  width: 7%;
  float: left;
}

#bookab {
  width: 10%;
}

#bookad {
  color: #d60000;
  width: 7%;
}

#borrowed {
  color: #aaa;
  font-size: 100%;
  text-transform: uppercase;
}

.truncate {
  clear: both;
}

fieldset {
  border: 0px !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-top: 1% !important;
}

#login {
  font-size: 90%;
  text-align: right;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: -.5% !important;
}
#loginbig {
  font-size: 100%;
  text-align: right;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: -.5% !important;
}

.tags {
    margin-top:3px;
    width: 25%;
}

.tag {
    background-color:#eee;
    margin-bottom:5px;
    display:inline-block;
    padding:3px;
    font-size:.85em;
}

.headerflash {
  padding-top: 30px;
}
